{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" 
    href="{% static 'home.css' %}">
</head>
<body>
    <div class='navbar'>
        <div class='navitem'><a href="{% url 'home' %}">HOME</a></div>
        {% if user.is_authenticated %}
        <div class="navitem"> Welcome, {{user.username }}</h2></div>
        <div class='navitem'><a href="{% url 'logout' %}">로그아웃</a></div>
        {% else %}
        <div class='navitem'><a href="{% url 'login' %}">로그인</a></div>
        <div class='navitem'><a href="{% url 'signup' %}">회원가입</a></div>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>