{% extends "base.html" %}
{% load staticfiles %}
    {% block content %}
    <div class = 'postclass'>
        <h2 class="title">{{ post.title }}</h2> 
        {% comment %} 포스트의 북타이틀을 쓰겠다 {% endcomment %}
        <h5 class="content">{{ post.content }}</h5>
        <h5>{{ post.price }}원</h5>
        <h5>{{ post.score }}점/5점</h5>
        <h5>{{ post.created_date }}</h5>
        <img src="{{ post.image.url }}" style="height:200px; width:200px" />
    </div>

    <ul>
        {% for comment in post.comments.all %}
            <li>{{ comment.content }}<a href="{% url 'comment_delete' post.pk comment.pk %}">삭제하기</a></li>
        {% endfor %}
    </ul>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-success">홈으로</button></a>
    {% comment %} home으로 돌아가는 url을 만들겠다 {% endcomment %}
    <br>
    {% if user.is_authenticated and post.author == user.username %}
    <a href="{% url 'edit' post.pk %}"><button type="button" class="btn btn-outline-success">수정하기</button></a>
    <br>
    <a href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-outline-warning">지워버린다</button></a>
    {% endif %}
    {% endblock %}
</body>
</html>