<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
    href="{% static 'home.css' %}">
</head>
<body>
    <h1 class="font-color"> 미라의 책블로그 </h1>
    {% block content %}
    <h2 class="font-color2"> 책 리뷰 목록 </h2>
        {% for post in posts %}
        <li><a href="{% url 'detail' post.pk %}">{{ post.title }}</a></li><br>
        {% endfor %}
        {% comment %} for문에서 post의 번호를 붙여서 가고 포스트의 책이름이 링크로 연결됨 {% endcomment %}
    <a href="{% url 'new' %}"><button type="button" class="btn btn-outline-success">리뷰쓰기</button></a>
    <br>
    {% endblock %}
    
    
</body>
</html>